/*
======================================================================
							SEZIONE	GENERALE
======================================================================
*/

* {
	padding: 0;
	margin: 0;
}

html, body {
  	font-family: Verdana, sans-serif; /*priorita' decrescente*/
	font-size:100%;
	line-height:1.5;
}

html {
	box-sizing:border-box;
	overflow-x:hidden;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}

*,*::before,*::after{box-sizing:inherit}

ul {
	list-style:none;
    padding:0;
    margin:0;
}

footer,header,nav{display:block}

img{border-style:none}

hr{border:0;border-top:1px solid #eee;margin:20px 0}

a {
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
	text-decoration: none;
	border-bottom: 2px solid white;
	display: inline-block;
	color:inherit;
}

a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none; text-decoration:underline dotted}


h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:0.4em;
}

p {
	margin:10px 0;
}

p a {
    text-decoration: underline;
}

h1 {
	font-size: 2em; 
	font-weight: 900;
	/*text-transform: uppercase;*/
	text-align: center;
}

h2 {font-size:1.7em;}

h3 {
	font-size: 1.5em;
	font-weight: 900;
}

h4{font-size:1.3em;}

h5{font-size:1.1em;}

h6{font-size:1em;}

input {
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
	border-radius:4px;
	font:inherit;
	margin:0;
	overflow:visible;
}

header {
	background-image: url('../img/dino-pattern.jpg');
}


figure {
	padding: 0.6em;
	border: 1px solid #979797;
	border-radius: 6px;
	display: inline-block;
	text-align: left;
}

figcaption {
	font-size: small;
}

figure > img {
	width: 100%;
	display: block;
}

.index {
	margin-left:20%;
}

.index p {
	font-size: 1.2em;
}

/*
======================================================================
							COSE DI MATTEO
======================================================================
*/
.main {
	float: right;
	max-width: calc(100% - 110px);
	width: 90%;
	min-width: calc(100% - 150px);
}

/* Home */

#header-home {
	text-align: center;
}

form p {
	text-align: left;
}

.arrow {
	margin-top:3.5em;
	width: 50px;
	height: 50px;
	background-image: none;
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#16a085;
}

.down-arrow {
	background-image: url('../img/icons/down-arrow.png');
}

.up-arrow {
	background-image: url('../img/icons/up-arrow.png');
}

#title-card {
	padding: 3em;
	background-color: white;
}

#title-card h1 {
	font-size: 4em;
	color: #16a085;
}

#title-card h3 {
	display: inline-block;
}

#title-card h1, #title-card h3, #title-card h4 {
	text-align: center;
}

/* /Home */

.floating-element {
	float: left;
	width: 33.33333%;
	height: 20vw;
}

.small-shape { /*propietà comuni immagini*/
	display: inline-block;
	max-width: 250px;
	width: 80%;
	height: 80%;
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#shape1 {
	background-image: url('../img/dino-shape-1.svg');
}

#shape2 {
	background-image: url('../img/dino-shape-2.svg');
}

#shape3 {
	background-image: url('../img/dino-shape-3.svg');
}



/* About */

#about h1 {
	text-align: center;
	color: #16a085;
}

#about img {
	width: 100%;
}

/* /About */

/* Dino search */

/*#dino-search {
	text-align: center;
}*/

/* /Dino search */

/* Daily stuff */

.daily-dino h1, .daily-article h1 {
	text-align: center;
}

.daily-dino img, .daily-article img {
	width:100%; 
	margin-bottom:2em;
}

/* /Daily stuff */

/* History */

#scoperta {
	background-image:url('../img/dino-1.jpg');
}

#bipedi-quadrupedi {
	background-image:url('../img/dino-3.jpg');
}

#volcano-divider {
	background-image: url('../img/volcano.jpg');
	background-position: bottom;
}

/* /History */

/* Layout */


.display-middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.content{
	max-width:980px;
	margin:auto;
	padding:0.01em 16px;
}

.content-large{
	max-width:1500px;
	margin:auto;
	padding:0.01em 16px;
}

.card {box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}

/*.card img {width:100%;}*/

.wide {letter-spacing: 0.25em;}

.center{
	text-align: center;
}

.right{
	float: right !important;
}

.btn{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	white-space:normal;
	border-radius:4px;
	font-weight: bold;
}
.btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.small-btn {
	max-width: 250px;
}

.row::after,.row::before,.row-padding::after,.row-padding::before {
	content:"";
	display:table;
	clear:both;
}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter{
	padding:0 8px;
}

.ghost-half {
	padding-top: 12em;
	padding-bottom: 12em;
}

.ghost-half img{
	width: 100%;
}

.half,.third,.twothird,.quarter{
	float:left;
	width:100%;
}

.bar .bar-item {
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}

.bar {
    width: 100%;
    overflow: hidden;
	position:fixed;
	z-index:1;
	top:0;
}

.bar::before,.bar::after{
	content:"";
	display:table;
	clear:both;
}

.panel{
	padding:0.01em 16px;
	margin-top:16px;
	margin-bottom:16px;
}

.caption {
	font-size:1.1em;
	text-align: center;
}

.white {
	color: black !important;
	background-color:#fff !important;
}

.white h1, .white h3{
	color: #16a085 !important;
	text-align: center;
}

.white p, .white ul {
	padding-left: 16px;
	padding-right: 16px;
}

.colored{
	color:#fff !important;
	background-color:#16a085 !important;
}

.text-colored {
	color: #16a085 !important;
	background-color: #fff;
}

.overlay{
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:2;
	cursor:pointer;
}

.push-down {
	margin-top:83px;
}

/* /Layout */

/* Responsiveness */

@media (min-width: 1025px) {			                /*dimensione grande > 1024 px*/
    .hide-large {display: none!important;}
    .sidebar.collapse {display: block;}
}

@media (max-width: 600px) {							    /*dimensione piccola 480 - 600 px*/
	.hide-small {display: none!important;}
    #scoperta, #bipedi-quadrupedi {background-image: none;}
	.ghost-half {padding: 0;}
	.main {min-width: 100%;}

    #header-menu {
        width: 70%;
        float: left;
    }

	#header-menu h1 {font-size: 1em;}
	#mobile-menu-icon {width: 30%;}
    #title-card {padding: 1em;}
    #title-card h1 {font-size: 3em;}
    .wrap-padding {padding: 0.5em!important;}
}

#header-menu {
	vertical-align: middle;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) { /*dimensione media 601 - 1023 px*/
	.hide-medium {display: none!important;}
}

@media only screen and (max-width: 1024px) {                     /*dimensione media e piccola 480 - 1024 px e iPad*/
	.main {
		margin-left: 0!important;
		margin-right: 0!important;
		min-width: 100%;
	}

    .parallax {
        background-attachment: scroll !important;
        background-size: auto 100%;
    }
	
	.sidebar.collapse {
		display: none;
		width: 100%;
	}

	.article-image-left, .article-image-right {
		width: 100%!important;
		float: none!important;
		margin: 0!important;
	}

	.content, .content-large {
		padding-left: 0;
		padding-right: 0;
	}
}

/*@media only screen and (min-width: 767px) and (max-width: 1024px) { non dovrebbe servire
    .parallax {
        background-attachment: scroll !important;
        background-size: auto 100%;
    }
}*/
                                                       /*responsiveness delle colonne*/
@media (min-width: 1301px) {
    .third {width: 33.33333%;}
    .half {width: 49.99999%;}
}

@media (min-width: 768px) and (max-width: 1300px) {
    .quarter {width: 24.99999%;}
    .third {width: 49.99999%;}
    .half {width: 49.99999%;}
    .twothird {width: 66.66666%;}
}

/* /Responsiveness */

/* Margin e padding */

.wrap-margin {
	margin:0.5em 0.5em;
}

.margin-half {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.margin-top {
	margin-top: 2em;
}

.side-margin {
	margin-left: 6em;
	margin-right: 6em;
}

.margin-2 {
	margin-top:2em;
	margin-bottom:2em;
}

.margin-3 {
	margin-top:3em;
	margin-bottom:3em;
}

.side-padding {
	padding-left: 1em;
	padding-right: 1em;
}

.padding-large{padding:12px 24px!important}

.padding-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.padding-2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.padding-3 {
	padding-top: 3em;
	padding-bottom: 3em;
}

.padding-6 {
	padding-top: 6em;
	padding-bottom: 6em;
}

.padding-12 {
	padding-top:12em;
	padding-bottom:12em;
}

.padding-15 {
	padding-top:15em;
	padding-bottom:15em;
}

.wrap-padding {
	padding: 2em;
}

.wrap-padding-small {
	padding: 1em;
}

.fancy-border { 		/*usato nei commenti*/
	border: 1px solid white;
	border-radius: 3px;
}

.text-italic { /*username nei commenti*/
	font-style: italic;
}

/* /Margin e padding */


/* Commento */

.comment {
	margin-bottom: 2em;
	font-weight: 500;
}

/* /Commento */

/* Loading */

.loading {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.loading img {
  	width: 300px; 
}

/* fine - Loading */
 
/* Bouncing Animation */
 
.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/* fine - Bouncing Animation */

/* To the top btn */

#toTheTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	border: none;
	outline: none;
	color: white;
	background-color: black;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-weight: bolder;
}

/* fine - To the top btn */

/* Parallax */

.parallax {
    /* Full height */
    height: 100%; 

    /* Effetto scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
/* fine - Parallax */

/*
======================================================================
								AIUTI
======================================================================
*/


.aiuti_nascosti {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}

/*
======================================================================
								MENU'
======================================================================
*/

#top-menu a {
	font-size: 1.5em !important;
}

.sidebar{
	height: 100%;
	min-width: 110px;
	width: 10%;
	max-width: 150px;
	background-color: #fff;
	color: #000;
	position: fixed!important;
	z-index: 3;
	overflow: auto;
}

.menu-entry-small {
	width: 100%;
	padding: .3em 1em;
	display:block;
	white-space: normal;
	background-color: white;
	color: black;
	border: 0 !important;
}

.menu_entry {
	width: 100%;
	padding: 1em;
	display:block;
	white-space: normal;
	background-color: white;
	color: black;
	border: 0 !important;
}


.menu_entry hr, .menu-entry-small hr {
	margin: 0;
}

.menu_entry p {
	margin: 0.2em;
}

.menu_entry:hover, .menu_entry:active, .sidebar .active {
	color: #fff;
	background-color: #16a085;
}

.sidebar .disabled {
	pointer-events: none;
    cursor: default;
}

/****************
*  ICONE MENU'	*
*****************/

#mobile-menu-icon {padding: 2em!important;}

.menu_entry:hover > .menu_icon, .menu_entry:active > .menu_icon, .sidebar .active > .menu_icon {
	filter: invert(100%);
}

.menu_icon { /*proprietà comuni a tutte le icone*/
	height: 60px;
    width: 60px;
    display: inline-block;
	background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
}

#icon_home {
    background-image: url('../img/icons/menu_home.svg');
}

#icon_storia {
	background-image: url('../img/icons/menu_storia.png');
}

#icon_specie {
	background-image: url('../img/icons/menu_specie.svg');
}

#icon_articoli {
	background-image: url('../img/icons/menu_articoli.svg');
}

#icon_accedi {
	background-image: url('../img/icons/menu_accedi.png');
}

/*
======================================================================
								ARTICOLI
======================================================================
*/

.article-content {
	overflow: hidden; /*Per non far uscire le immagini*/
}

.article-image-head {
	width: 100%;
	margin-bottom: 1em;
}

.article-image-left {
	float: left;
	width: 50%;
	margin: 0 0.6em 0.6em 0;
}

.article-image-right {
	float: right;
	width: 50%;
	margin: 0 0 0.6em 0.6em;
}
