/*
======================================================================
							SEZIONE	GENERALE
======================================================================
*/

* {
	padding: 0;
	margin: 0;
}

html, body {
  	font-family: Verdana, Arial, Helvetica, sans-serif; /*priorita' decrescente*/
  	font-size: 100%;
}


ul {
	list-style:none;
    padding:0;
    margin:0;
}

a {
	text-decoration: none;
	border-bottom: 2px solid white;
	display: inline-block;
}

h1 {
	font-weight: 900;
	font-transform: uppercase;
}

h3 {
	font-weight: 900;
}

/*
======================================================================
							COSE DI MATTEO
======================================================================
*/
.main {
	margin-left:160px;
}

#title-card {
	padding: 3em;
	background-color: white;
}

#title-card h1 {
	font-size: 4em;
	display: inline-block;
	color: #16a085;
}

#title-card h3 {
	display: inline-block;
}

.text-green-sea {
	color: #16a085;
}

.margin-2 {
	margin-top:2em;
	margin-bottom:2em;
}

.margin-3 {
	margin-top:3em;
	margin-bottom:3em;
}

.padding-2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.padding-3 {
	padding-top: 3em;
	padding-bottom: 3em;
}

.padding-6 {
	padding-top: 6em;
	padding-bottom: 6em;
}

.padding-12 {
	padding-top:12em;
	padding-bottom:12em;
}

.padding-15 {
	padding-top:15em;
	padding-bottom:15em;
}

.wrap-padding {
	padding: 2em;
}

/* Loading */

.loading {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

/* fine - Loading */
 
/* Bouncing Animation */
 
.bounce {
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/* fine - Bouncing Animation */

/* To the top btn */

#toTheTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

/* fine - To the top btn */

/* Parallax */

.parallax {
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
 
/* fine - Parallax */

header {
	background-image: url('../img/dino-pattern.jpg');
}

.index {
	margin-left:20%;
}

.index p {
	font-size: 1.2em;
}

/*
======================================================================
								AIUTI
======================================================================
*/


.aiuti_nascosti {
	position: absolute;
	height: 0;
	overflow: hidden;
}


/*
======================================================================
								MENU'
======================================================================
*/

#menu {
	float: left;

	height: 100%;
	width: 10%;
	max-width: 160px;
	min-width: 120px;

	background-color: transparent;

	font-size: 1.5em;
	text-align: center;

	z-index: 1;
	/*overflow:auto;*/
}

.menu_entry {
	width: 100%;
	padding: 0.4em 0.4em;
	/*border:none;*/
	/*outline:none;*/
	display:block;

	white-space: normal;

	background-color: #71e8d0;
	color: black;
	/**#16a085; #21685a;*/
}

.menu_entry img {
	height: 70px;
}

.menu_entry p {
	margin: 0.5em;
}

.menu_entry:hover {
	color: #fff;
	background-color: #16a085;
}
 

/*
======================================================================
								TILES
======================================================================
*/

.container {
	max-width: 90%;
	margin: auto;
}

.tile {
	width: 50%;
	float: left;
	padding: 0;
	margin: 1em;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.3);
	background-color: white;
	text-align: justify;
}

.tile img {
	width: 100%;
	margin-bottom: 1.5em;
}

.tile ul {
	margin-bottom: 0.5em;
}

.tilehead {
	width: 100%;
	text-align: center;
	background-color: #16a085;
	color: white;
	display: inline-block;
}

.tilecontent {
	padding: 1em;
}
