html, body {
    text-align: justify;
    font-family: Times, Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #000000;
    background-image: none;
    background-color: #fff;
    padding: 0!important;
    margin: auto!important;
}

button, input, hr, noscript {display: none;}

h1 {
    font-size: 1.7em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

h2 {
    font-size: 1.5em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

h3 {
    font-size: 1.3em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

a {text-decoration: underline;}

.sidebar, .bar, .btn {display: none;}

.colored, .text-colored {
    color: #000000!important;
    background-color: #ffffff!important;
}

.colored a, .text-colored a {
    border-bottom: none;
}

.card {box-shadow: none;}

#title-card h1 {
    font-size: 1.5em;
}

.daily-dino img, .daily-article img {display: none;}

.hide-large, .hide-medium {display: none;}

#commentboard {display: none;}

.loading {display: none;}

/**
 *  PADDING E VARIE
 */

.wide {letter-spacing: 0;}

.wrap-padding, .wrap-padding-small {
    padding: 0.5em!important;
}
