html, body {
    text-align: justify;
    font-family: Times, Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #000000;
    background-image: none;
    background-color: #fff;
    padding: 0!important;
    margin: auto!important;
}

button, input, form, hr {display: none;}

h1 {
    font-size: 1.7em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

h2 {
    font-size: 1.5em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

h3 {
    font-size: 1.3em!important;
    color: #000000!important;
    background-color: #ffffff!important;
}

a {
    text-decoration: underline;
}

.sidebar, .bar, .btn {display: none;}

.colored, .text-colored {
    color: #000000!important;
    background-color: #ffffff!important;
}

.colored a, .text-colored a {
    border-bottom: none;
}

.card {
    box-shadow: none;
}

#title-card h1 {
    font-size: 1.5em;
}

#input-area, #login, #breadcrumb {
    display: none;
}

.no-print {display: none;}


.daily-dino img, .daily-article img {display: none;}

.hide-large, .hide-medium {display: none;}

#commentboard {display: none;}

.article-image-head {display: none;}

.loading {display: none;}

/**
 *  PADDING E VARIE
 */

.wide {letter-spacing: 0;}

.margin-top, .margin-2, .margin-3, .margin-half, .margin-half, .wrap-margin, .side-margin {
    margin: 0;
}

.padding-15, .padding-12, .padding-6, .padding-3, .padding-2, .padding-1, .side-padding, .content, .content-large, .padding-large {
    padding: 0;
}

.wrap-padding, .wrap-padding-small {
    padding: 0.5em!important;
}
