# IGNORA I FILE LISTATI

#LATEX FILES
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pdf

#INTELLIJ FILES
*.iml
.idea

#FILES
connect.php
Sito/connect.php
Sito/img/userimg/zzzzz@zz.it.png
Sito/css/w3.css
Sito/connect.php
Sito/commentboard.php
Sito/img/sad-dino.png
Sito/sitemap.php
Sito/connect.php
